.side-bar{
    background-color: #d1dff6;
    min-width: 240px;
    max-width: 240px;
    transition: ease-in-out 0.3s;
}

.main{
    flex: 1;
    min-height: 100vh;
    
}

.sidebar-menu ul li{
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-menu ul li a{
    font-weight: 900;
    font-size: 0.875rem;
    display: block;
    padding: 12px 20px;
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid #ccc;
}
.sidebar-menu ul li a.active{
      background: #0ea5e9 !important;
      color: white !important;
}


.sidebar-menu ul li a:hover{
    transition: ease-in-out 0.3s;
    background-color: #ECF4E8;
    color: #140101;
    transform: scale3d(1.1, 1, 1);
}

.top-nav{
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 10px 20px;
    min-height: 70px;
}

.content-area{
    min-height: 100vh;
}   

.fa-xmark{
    cursor: pointer !important;

}

.side-bar.hidden {
    margin-left: -240px;
    transition: ease-in-out 0.4s;
}
#openSidebar{
    cursor: pointer;
    width: 0;
    overflow: hidden;
    opacity: 0;
    transition: width 0.3s ease, opacity 0.3s ease;
}
#openSidebar.show {
    width: 24px;  
    opacity: 1;
}

.nav-hover {
    transition: 0.2s ease-in-out;
}

.nav-hover:hover {
    color: #0d6efd !important;
    transform: translateY(-1px);
}
body {
    background: #f5f7fa;
}

.auth-bg {
    background: url('https://images.unsplash.com/photo-1600585154340-be6161a56a0c?auto=format&fit=crop&w=1350&q=80') no-repeat center center/cover;
    backdrop-filter: blur(3px);
    padding: 20px;
}

.card {
    backdrop-filter: blur(8px);
    background: rgba(255, 255, 255, 0.85) !important;
}
